# hope this works...do I have to check in my .gitignore? seems like yes
# don't push data or node_modules to github
.DS_store
.Rapp.history
*.log
*.csv
data/
deploy/
images/
node_modules/
*.nw
punkt/
*.swp
tmp/
client/ext/
appBin/*
